<div style="font-size: 14px; justify-content: center;">

    <h2>Bienvenido</h2>

    <h2>El infierno del sur 2025</h2>


    <a href="https://youtu.be/nEW1yGVhc4s?si=xL03zgPuR3bm6mPW" target="_blank">Ver Video Oficial LTDF 2024</a>

    Te invitamos a estar pendientes de nuestras redes sociales, ahi publicaremos todas las novedades e información
    importante.
    Toda la información y detalles de la ruta sera entregada en el booklet oficial, el cual sera enviado posteriormente.

    Unete al grupo oficial de whataspp donde también compartiremos información importante.
    
    <a href="https://chat.whatsapp.com/HdWdNWwLBkS1ALn2FJW6Vr" target="_blank">Unete al grupo</a>
    No olvides descargar la carta responsiva para posteriormente, llenarla y enviarla en el formulario de abajo
    <a href="https://chat.whatsapp.com/HdWdNWwLBkS1ALn2FJW6Vr" target="_blank">Descargar carta responsiva</a>
    Descarga tu carta de experiencia para enviarla en el formulario de abajo
    <a href="https://chat.whatsapp.com/HdWdNWwLBkS1ALn2FJW6Vr" target="_blank"> Descargar carta de experiencia</a>
    Para completar tu registro debes llenar el formulario con los datos requeridos.
    Tienes hasta 5 dias antes de la entrega de kits, de lo contrario no podrás recoger tu dispositivo de LiveTracking
    <a href="https://chat.whatsapp.com/HdWdNWwLBkS1ALn2FJW6Vr" target="_blank"> Ir al formulario</a>

</div>



