.rules-container {
  background: black;
  max-width: 100%;
  overflow-x: hidden;
}

.rules-container h1 {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  word-break: break-word;
}

.rules-container ol li {
  color: #fff;
  padding: 10px;
  margin: 10px;
  word-wrap: break-word;
}

@media (max-width: 768px) {
  .rules-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

